@-webkit-keyframes rotate-right {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotate-right {
    -webkit-animation: rotate-right 7s linear infinite;
}

@-webkit-keyframes rotate-left {
    from{
        -webkit-transform: rotate(360deg);
    }
    to{
        -webkit-transform: rotate(0deg);
    }
}

.rotate-left {
    -webkit-animation: rotate-left 7s linear infinite;
}


@media (min-width: 200px) {
    #titleContainer h4 {
        font-size: 1.2em;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    #titleContainer h4 {
        font-size: 2.5em;
    }
}

@media (min-width: 1000px) {
    #titleContainer h4 {
        font-size: 3.5em;
    }
}