/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    background-color: #fffffd;
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.logo {
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-weight: 500; 
}

.logo-underline {
    margin-left: 3%;
}

.logo-underline .square {
    float: left;
    margin-right: 5%;
    margin-bottom: 30px;
}

.square {
    height: 18px;
    width: 18px;
}

@media (min-width: 200px) {
    .logo {
        font-size: 4em;
    }

    p {
        text-align: justify;
        text-justify: inter-word;
        padding-left: 2%;
        padding-right: 2%;
        font-size: 1em;
    }

    .header {
        font-size: 2em;
        padding-left: 5%;
        padding-right: 5%;
    }

    .square {
        height: 10px;
        width: 10px;
    }

    .logo-underline .square {
        margin-right: 8%;
    }

    .navbar {
        margin-bottom: 5%;
    }

    #instafeed img {
        width: 100%; 
    }

}

/* Larger than tablet */
@media (min-width: 750px) {
    .logo {
        font-size: 5em;
    }

    p {
        padding: 0;
        font-size: 1.15em;

    }

    .square {
        height: 13px;
        width: 13px;
    }

    .header {
        padding: 0;
        font-size: 3em;
    }

    .logo-underline .square {
        margin-right: 6%;
    }

    .navbar {
        margin-bottom: 3%;
    }

    #instafeed img {
        width: 25%;
        margin-right: 2.5%;
        margin-left: 2.5%;
        margin-bottom: 5%;
    }
}

@media (min-width: 1000px) {
    .logo {
        font-size: 7em;
    }

    .square {
        height: 18px;
        width: 18px;
    }

    .logo-underline .square {
        margin-right: 5%;
    }

    .navbar {
        margin-bottom: 1%;
    }

    #instafeed img {
        width: 28%;
        margin-right: 2%;
        margin-left: 2%;
    }
}

.header-underline {
    border-bottom: 1px solid black;
}

.black-square {
    background-color: #000;
}

.white-square {
    background-color: white;
    border: 1px solid #000;
}

.red {
    color: #ff0000;
}

.red-square {
    background-color: #ff0000;
}

.orange {
    color: #FF9900;
}

.orange-square {
    background-color: #FF9900;
}

.yellow {
    color: #FFFF00;
}

.yellow-square {
    background-color: #FFFF00;
}

.green {
    color: #00CC00;
}

.green-square {
    background-color: #00CC00;
}

.blue {
    color: #0000FF;
}

.blue-square {
    background-color: #0000FF;
}

.purple {
    color: #CC33FF;
}

.purple-square {
    background-color: #CC33FF;
}

.brown {
    color: #663300;
}

.black {
    color: #000;
}

.twitter-blue {
    color: #00CCFF;
}

.twitter-blue-square {
    background-color: #00CCFF;
}

.right {
    float: right;
}

.navbar-list {
    list-style: none;
    margin-bottom: 0;
    bottom: 0;
    right: 0;
}

.navbar {
    /*border-bottom: 1px solid #000;*/
}

.navbar-item {
    position: relative;
    float: right;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 0px;
}

.navbar-link {
    font-size: 1.5em;
    color: blue;
    padding: 3px 10px 0px 10px;
}

.socialLink {
    font-size: 3em;
    color: blue;
    margin-right: 2%;
}

.socialLink:hover {
    color: black;
    text-decoration: underline;
}

.navbar-link:hover {
    color: #000;
}

.invert {
    background-color: #000;
    color: #fff;
    border-color: white;
}

.invert a, .invert a:hover {
    color: #fff;
    border-color: white;
}

.invert .navbar {
    border-bottom: 1px solid #fff;
}


/* ==========================================================================
   Post stylings
   ========================================================================== */
.post {
    /*background-color: #eeecec;*/
    margin-bottom: 5px;
}

.post:hover {
    background-color: black;
    margin-bottom: 5px;
}

.post a {
    color: black;
    text-decoration: none;
}

.post a:hover {
    color: white;
}

.post-red {
    border-right: 5px solid red;
    border-left: 5px solid red; 
}

.post-blue {
    border-right: 5px solid blue;
    border-left: 5px solid blue; 
}

.post-black {
    border-right: 5px solid black;
    border-left: 5px solid black; 
}

.post-orange {
    border-right: 5px solid #FF9900;
    border-left: 5px solid #FF9900;
}

.post-pink {
    border-right: 5px solid #FFA3D1;
    border-left: 5px solid #FFA3D1;
}

.title {
    padding-bottom: 0px;
    margin: 0px 10px 0px 10px;
    font-weight: bold;
}

.subtitle {
    font-size: 2em;
    font-weight: lighter;
    margin: 0px 10px 0px 10px;
}

.date {
    font-weight: bold;
    margin: 0px 10px 0px 10px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
